.my-content-item{
    padding: 5em 10em;
}

.add-item-content{
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 5em;

    border-radius: 25px;
    background-color: #393945;
}

.add-item-title{
    font-size: 2.2em;
    font-family: D-Din Exp,GT America,sans-serif;
    color: #8f94ab;
}

.add-item-content-header{
    height: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 2em;
    /*padding-bottom: 7em;*/
    padding-bottom: 4em;
}

.input-text{
    font-size: 1.2em;
    color: #52e3c2;
    margin-top: 0.8em;
    margin-bottom: 0.1em;
}

.input-text-right{
    font-size: 1.2em;
    color: #b4b8cd;
    margin-top: 0.8em;
    margin-bottom: 0.1em;

    padding-left: 1em;
}

.input-input{
    width: 100%;


    padding: 0.3em 0.3em 0.3em 0.6em;
    /*padding: 0.4em 0.4em 0.4em 0.7em;*/

    background-color: #40424f;
    color: #b4b8cd;
    max-width: 25em;
    border-radius: 5px;
    border: 0 solid #dae1e7;
}

.input-input-select{
    width: 100%;

    margin-left: -1em;
    padding: 0.4em 0.3em 0.4em 0.6em;
    /*padding: 0.4em 0.4em 0.4em 0.7em;*/

    background-color: #40424f;
    color: #b4b8cd;
    max-width: 25em;
    border-radius: 5px;
    border: 0 solid #dae1e7;
}


.add-item-button{

    margin-top: 1.5em;

    font-size: 1.25em;
    font-weight: bold;
    color: #52e3c2;
    background-color: #393945;

    overflow-x: hidden;
    white-space: nowrap;
    overflow-y: hidden;

    padding: 0.5em 1.5em 0.5em 1.5em;

    border-radius: 20px !important;

    text-align: center;

}

.add-item-button:hover{

    background-color: #52e3c2;
    border-color: #52e3c2;
    color: #393945;

}

.add-item-button-zone{
    /*max-width: 25em;*/
    display: flex;
    justify-content: center;
}

.add-item-buttons-zone{
    display: flex;
    justify-content: space-around;
    padding-top: 2em;
}

.add-item-img{
    height: 35em;
}

.add-item-complete-zone{
    max-width: 25em;
}

.add-item-complete-img{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.add-item-button-edit{

    margin-top: 1.5em;

    font-size: 1.25em;
    font-weight: bold;
    color: #40c4ff;
    background-color: #393945;

    overflow-x: hidden;
    white-space: nowrap;
    overflow-y: hidden;

    padding: 0.5em 1.5em 0.5em 1.5em;

    border-radius: 20px !important;

    text-align: center;

}

.add-item-button-edit:hover{

    background-color: #40c4ff;
    border-color: #40c4ff;
    color: #393945;

}

.add-item-button-delete{

    margin-top: 1.5em;

    font-size: 1.25em;
    font-weight: bold;
    color: #ff4495;
    background-color: #393945;

    overflow-x: hidden;
    white-space: nowrap;
    overflow-y: hidden;

    padding: 0.5em 1.5em 0.5em 1.5em;

    border-radius: 20px !important;

    text-align: center;

}

.add-item-button-delete:hover{

    background-color: #ff4495;
    border-color: #ff4495;
    color: #393945;

}

.button-icon{
    padding-right: 0.3em;
}
