/* --- HEADER ZONE ---*/
.login-header{
    background-color: #32323e;
    width: 100%;
    height: 8em;
    border-bottom: 1px solid #40424f;
    -webkit-box-shadow: 0px 1px 0px #40424f;
    box-shadow: 0px 1px 0px #40424f;

    margin-bottom: 2em;
}

.login-header-logo{
    height: 7em;
    margin: auto;
}
body{
    background-color: #32323e;
}

.navbar-dark{
    background-color: #32323e;
}

.bg-dark{
    background-color: #32323e;
}

.user-name{

    font-size: 1.5em;
    color: #52e3c2;

    text-shadow: 0px 1.5px 1.5px #b4b8cd;
}
