
/* --- HEADER ZONE ---*/
.login-header-zone{
    background-color: #32323e;
    width: 100%;
    height: 10em;
    border-bottom: 1px solid #40424f;
    -webkit-box-shadow: 0px 1px 1px #40424f;
    box-shadow: 0px 1px 1px #40424f;

    margin-bottom: 2em;
}


.login-header-zone-logo{
    height: 9em;
    margin: auto;
}
body{
    background-color: #32323e;
}

.navbar-dark{
    background-color: #32323e;
}

.bg-dark{
    background-color: #32323e;
}

/* --- CONTENT ZONE ---*/
.content-zone{
    margin: auto;
    padding-top: 4em;
    width: 100%;
}

.login-content-logo{
    padding-top: 2em;
    padding-bottom: 4em;
    height: 30em;
    margin: auto;
}

.login-text{
    font-size: 1.2em;
    color: #52e3c2;
    margin-top: 0.8em;
    margin-bottom: 0.1em;
}

.login-input{
    width: 113%;


    padding: 0.3em 0.3em 0.3em 0.6em;
    /*padding: 0.4em 0.4em 0.4em 0.7em;*/

    background-color: #40424f;
    color: #b4b8cd;
    max-width: 25em;
    border-radius: 5px;
    border: 0 solid #dae1e7;
}

.login-register-zone{
    height: 30em;
    padding: 3em 2em 2em 2em;
}

.login-button-zone{
    max-width: 25em;
}

.login-register-button{

    margin-top: 1.5em;

    font-size: 1.25em;
    font-weight: bold;
    color: #52e3c2;
    background-color: #393945;

    overflow-x: hidden;
    white-space: nowrap;
    overflow-y: hidden;

    padding: 0.5em 1.5em 0.5em 1.5em;

    border-radius: 20px !important;

    text-align: center;

}

.login-register-button:hover{

    background-color: #52e3c2;
    border-color: #52e3c2;
    color: #393945;

}

.login-max-width{
    max-width: 23.5em;
}

.login-title-create{

    font-size: 1.8em;
    font-weight: bold;
    font-family: Barlow,sans-serif;

    color: #fff;
}

.login-or{

    font-size: 1em;
    font-family: Barlow,sans-serif;

    color: #fff;

    padding-right: 0.5em;
}

.login-or-next{

    font-size: 1em;
    font-family: Barlow,sans-serif;

    color: #52e3c2;

    padding-right: 0.5em;
}

.login-or-next:hover{
    color: #52e3c2;
}

.login-switch-zone{
    padding-bottom: 0.4em;
}

#register-zone{
    display: none;
}

#login-zone{
    display: block;
}
