.navbar-zone{
    background-color: #32323e;
    /*height: 7em;*/
    height: 12%;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding-left: 4em;
    padding-right: 8em;
}

.navbar-left{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}

.navbar-text-left-word{
    font-weight: bold;
    font-family: Barlow,sans-serif;
    font-size: 2em;
    word-spacing: 2px;
    color: white;
}
.active{
    padding-bottom: 1px;
    border-bottom: 1px solid #52e3c2;
    margin: auto;
}
.inactive{
    margin: auto;
}

.navbar-left a{
    text-decoration: none;
}

.navbar-logo{
    height: 5em;
}

.hov-left:hover{
    padding-bottom: 1px;
    border-bottom: 1px solid #52e3c2;
}

.hov-left:hover > span{
    color: #b4b8cd;
}

.line{
    width: 94%;
    text-align: center;
    height:1px;
    border-width:0;
    color:#b4b8cd;
    background-color:#b4b8cd;

    /*margin-top: -0.2em;*/
    margin-top: 0px;
    margin-bottom: 2em;
}

.user-icon{
    color: #52e3c2;
    font-size: 1.8em;
}

.navbar-right-user a{
    text-decoration: none;
}

.navbar-text-right-word{
    font-weight: bold;
    font-family: Barlow,sans-serif;
    font-size: 1.6em;
    word-spacing: 2px;
    color: white;

    padding-left: 0.4em;
}

.navbar-text-right-word:first-letter{
    text-transform: uppercase;
}

.navbar-right-user{
    padding: 0.4em 0.8em 0.4em 0.8em;
    border-radius: 25px;
}

.navbar-right-user:hover{
    background-color: white;
}

.hov-left:hover > span{
    color: #b4b8cd;
}

.hov-right{
    display: flex;
    align-items: center;

    text-align: center;
}

.navbar-right-user:hover > a > span{
    color: #40424f;
}

.logout-button{

    font-size: 0.7em;
    font-weight: bold;
    color: #52e3c2;
    background-color: #393945;

    overflow-x: hidden;
    white-space: nowrap;
    overflow-y: hidden;

    padding: 0.1em 1.1em 0.1em 1.1em;

    border-radius: 20px !important;

    margin: 1em;
}

.logout-button:hover{

    background-color: #52e3c2;
    border-color: #52e3c2;
    color: #393945;

}

.navbar-right{
    width: 25em;
    display: flex;
    justify-content: space-evenly;
}

.bottom-img-zone{
    width: 100%;
    padding-left: 10em;
    padding-right: 10em;
    display: flex;
    justify-content: center;
}

.bottom-img{
    height: 30em;
    width: 85%;
}