.my-content{
    padding: 5em 10em;
}

.table-content{
    padding-left: 5em;
    padding-right: 5em;

    border-radius: 25px;
    background-color: #393945;
}

.table-content-header{
    height: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 2em;
    padding-bottom: 7em;
}

.table-title{
    font-size: 2.2em;
    font-family: D-Din Exp,GT America,sans-serif;
    color: #8f94ab;
}

.table-right-button{
    font-size: 1.2em;
    font-weight: bold;
    color: #52e3c2;
    background-color: #393945;

    overflow-x: hidden;
    white-space: nowrap;
    overflow-y: hidden;

    padding: 0.5em 1.5em 0.5em 1.5em;

    border-radius: 20px !important;

    text-align: center;
}

.table-right-button:hover{
    background-color: #52e3c2;
    border-color: #52e3c2;
    color: #393945;
}

.table-zone{

    padding-bottom: 2em;
}

.table-header{
    background-color: #52e3c2;
}

.table-header-text{
    font-family: D-Din Exp,GT America,sans-serif;
    font-size: 1.2em;
    color: #40424f;
}

.table-text{
    font-family: D-Din Exp,GT America,sans-serif;
    font-size: 1.2em;
    color: #8f94ab;
}

.table-row:hover{
    background-color: #40424f;
    cursor: pointer;
}

.table-row:hover > th{
    color: #52e3c2;
}
.table-row:hover > td{
    color: #52e3c2;
}
